:root {
    --1: #ffffff2e;
    --2: #0000001a;
    --3: #3a3a3a6b;
    --4: #c5c5c5;
    --5: #adadad60;
    --6: #303030c7;
    --7: #ffffff;
    --8: #080808;
}

* {
    box-sizing: border-box;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PhoneApp {
    box-sizing: content-box;
    box-shadow: 0 4px 30px var(--2);
    backdrop-filter: blur(3.5px);
    background: var(--1);
    border-radius: 15px;
}

.ContainerApp {
    width: 100%;
    min-height: 100vh;
    margin: 30px 80px 30px 80px;
    border: 1px solid var(--7);
}

.SearchBar {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--3);
}

.SearchBar>h2 {
    font-size: xx-large;
}

.SearchBar>h2>span {
    color: var(--8);
}

.CityCountryDay {
    width: 100%;
    padding: 24px 35px 12px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MainDescription {
    width: 100%;
    margin: 15px 0px 15px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.MainWeather {
    width: 100%;
    margin: 0px 90px 0px 90px;
    padding: 0px 15px 35px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--5);
    border-radius: 12px;
}

.Max-Min_Icon_Description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5em;
}

.Max-Min_Icon_Description .Max_Min {
    margin-top: 35px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.Max_Min>h3 {
    color: var(--6);
}

.Max-Min_Icon_Description .Icon-Weather_Description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Icon-Weather_Description>h2 {
    color: var(--6);
    font-weight: bolder;
}

.MainWeather>h2 {
    margin-top: 25px;
    color: var(--6);
    font-size: 5.5rem;
    font-weight: 600;
}

/* x-sm */
@media (width <=512px) {
    .ContainerApp {
        margin: 30px 20px 30px 20px;
    }

    .SearchBar {
        padding-top: 22px;
        padding-bottom: 22px;
        flex-direction: column;
        gap: 20px;
    }

    .SearchBar>h2 {
        font-size: 2rem;
    }

    .CityCountryDay {
        padding: 24px 15px 12px 15px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }

    .MainWeather {
        box-sizing: border-box;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .MainWeather>h2 {
        font-size: 4.5rem;
    }

    .Max-Min_Icon_Description {
        margin: 0px 15px 0px 15px;
        padding: 0px 0px 35px 0px;
        flex-direction: column-reverse;
        gap: 3em;
    }
}

/* sm */
@media (512px < width <=640px) {
    .SearchBar {
        padding-top: 22px;
        padding-bottom  : 22px;
        flex-direction: column;
        gap: 20px;
    }

    .CityCountryDay {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }

    .MainWeather {
        box-sizing: border-box;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .Max-Min_Icon_Description {
        flex-direction: column-reverse;
        gap: 3em;
    }
}

/* md */
@media (640px < width <=768px) {
    .SearchBar {
        padding-top: 22px;
        padding-bottom  : 22px;
        flex-direction: column;
        gap: 20px;
    }

    .SearchBar>h2 {
        font-size: 2.5rem;
    }

    .ContainerInformation {
        box-sizing: border-box;
        width: 100%;
        min-height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .CityCountryDay {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }

    .MainWeather {
        box-sizing: border-box;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .Max-Min_Icon_Description {
        flex-direction: column-reverse;
        gap: 3em;
    }
}

/* lg */
@media (768px < width <=1010px) {
    .ContainerInformation {
        box-sizing: border-box;
        width: 100%;
        min-height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .MainWeather {
        box-sizing: border-box;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .Max-Min_Icon_Description {
        flex-direction: column-reverse;
        gap: 3em;
    }
}

/* xl */
@media (1010px < width <=1400px) {
    .ContainerApp {
        border: 2px solid var(--7)
    }

    .SearchBar>h2 {
        font-size: 3rem;
    }

    .ContainerInformation {
        box-sizing: border-box;
        box-sizing: content-box;
        width: 100%;
        min-height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

/* 2xl */
@media (width > 1400px) {
    .ContainerApp {
        border: 2px solid var(--7)
    }

    .SearchBar>h2 {
        font-size: 4rem;
    }

    .ContainerInformation {
        box-sizing: border-box;
        box-sizing: content-box;
        width: 100%;
        min-height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .CityCountryDay {
        font-size: x-large;
    }

    .Max-Min_Icon_Description {
        gap: 7.5em;
    }

    .Max-Min_Icon_Description .Max_Min {
        font-size: 2rem;
    }

    .Icon-Weather_Description>h2 {
        font-size: 2rem;
    }

    .MainWeather>h2 {
        font-size: 6.5rem;
    }
}