:root {
    --colorText: #ffffff;
}

* {
    box-sizing: border-box;
}

.Container {
    box-sizing: border-box;
    width: 100%;
    margin: 60px 0px 60px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.Widgets {
    width: 100%;
    margin: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.Widget2 {
    width: 100%;
    margin: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.WidgetContainer {
    display: flex;
    padding: 20px 30px;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: var(--5);
    border-radius: 12px;
}

.WidgetContainer>h3 {
    color: var(--6);
    font-size: x-large;
    font-weight: 700;
}

.Icon_Title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

/* xl */
@media (1010px < width <=1400px) {
    .Icon_Title {
        font-size: large;
    }
}

/* 2xl */
@media (width > 1400px) {
    .Container {
        gap: 50px;
    }

    .WidgetContainer {
        flex-direction: row;
        gap: 30px;
    }

    .WidgetContainer>h3 {
        font-size: xx-large;
    }

    .Icon_Title {
        font-size: larger;
    }
}