.search {
    width: 20rem;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e7e7e7b2;
    border-radius: 24px;
}

.search>input {
    outline: none;
    background: none;
    border: none;
    width: 100%;
    padding-left: 8px;
    color: #000000;
    font-size: large;
}

.search>input:focus {
    border-bottom: 1px solid #000000;
}

button {
    text-decoration: none;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon {
    padding-left: 8px;
}

/* x-sm */
@media (width <=512px) {
    .search {
        width: 12rem;
    }

    .search>input {
        font-size: medium;
    }

    .icon {
        width: 25px;
        height: 25px;
    }
}

/* sm */
@media (512px < width <=640px) {
    .search {
        width: 18rem;
    }

    .search>input {
        font-size: large;
    }

    .icon {
        width: 28px;
        height: 28px;
    }
}


/* xl */
@media (1010px < width <=1400px) {
    .search {
        width: 21rem;
    }

    .search>input {
        font-size: larger;
    }

    .icon {
        width: 30px;
        height: 30px;
    }
}

/* 2xl */
@media (width > 1400px) {
    .search {
        width: 30rem;
    }

    .search>input {
        font-size: x-large;
    }

    .icon {
        width: 30px;
        height: 30px;
    }
}