:root {
    --MainBGcolor: #939393;
    --TextColor: #EFEFEF;
    --ThumbColor: #5777a5;
    --transparente: #00000000;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    color: var(--TextColor);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--transparente);
}

::-webkit-scrollbar-thumb {
    background-color: var(--ThumbColor);
    border: 1px solid var(--white);
    border-radius: 15px;
}

html {
    width: 100%;
    min-height: 100vh;
    background-color: var(--MainBGcolor);
    background-image: url(https://www.maketecheasier.com/assets/uploads/2020/06/Featured-Image-Live-Weather-Wallpapers-Android.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment: fixed;
    box-sizing: content-box;
}